* {
    margin: 0;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(
        to right,
        rgba(255, 234, 0, 0.29),
        rgba(187, 0, 255, 0.278)
    );
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 5rem;
}

table {
    border: 2px solid black;
    min-width: 500px;
    min-height: 500px;
}

Reset {
    background-color: blue;
    color: blueviolet;
}
